html {
  font-size: 100%;
  line-height: 1.5rem;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  max-width: 1400px;
}

*,
*::before,
*::after {
  background-origin: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.grid-container > div {
  padding: 1rem;
  background-color: rgb(0, 106, 128);
}

.grid-container > div:nth-child(odd) {
  background-color: mediumorchid;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: 3fr 3fr 3fr;

  grid-template-rows: minmax(100px, auto) minmax(100px, auto) minmax(
      100px,
      auto
    );
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 0.5rem;
}

.gallery-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 0.5rem;
}
